@charset "UTF-8";
body{
    font-family: 'Mitr', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mitr', sans-serif;
 }
 .fit{
 	 margin-top: 160px;
 	 margin-bottom: 270px;
 }
 thead{
    color: rgb(255, 255, 255);
    background-color: #00AE3B;
}
p{
    font-size: 25px;
}