@charset "UTF-8";
body{
    font-family: 'Mitr', sans-serif;
    
}
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Mitr', sans-serif;
}
.img1{
    width: 120px;
    height: 120px; 
}
b{
    font-size: 23px;
}

.addShift{
    width:215px;
    margin: 5px;
}
.fit {
	background-color: #ECECEC;
	border-radius: 10px;
	margin-left: 486px;
    margin-right: 479px;
    margin-bottom: 90px;
    margin-top: 180px;
	padding: 50px;
	padding-top: 25px;
	display: flex;
	justify-items: center;
   
}
table{
    margin-top: 40px;
}