body{
    font-family: 'Mitr', sans-serif;
    
}
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Mitr', sans-serif;
   z-index:2;
}
.fit{
    margin-top: 150px;
    margin-bottom: 50px;
}

.form-floating{
    margin: 10px;
}
.select{
    padding:5px ;
    width: 250px;
    border-radius: 5px;
    margin-left:10px;
}
textarea{
    height: 150px !important;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}
button{
    height: 40px;
    width: 200px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    margin-bottom: 5px; 
}