@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mitr', sans-serif;
  }
#footer, .nav_bar, .header_page {
    display: flex;
    justify-content: center;
}
#footer {
    height: 100px;
    width: 100%;
    background-color: #F9CF0B;
    color: white;
    margin-top: -36px;
  }