@charset "UTF-8";
body{
    font-family: 'Mitr', sans-serif;
 
}
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Mitr', sans-serif;
}
.fit {
	background-color: #ECECEC;
	border-radius: 10px;
	margin-left: 440px;
	margin-right: 410px;
    margin-top: 150px;
    margin-bottom: 50px;
	padding: 99px;
	padding-top: 80px;
	display: flex;
	justify-items: center;
   
}
.registered{
        width:215px;
        margin: 5px;
}
.h{
    color:#336E37;
    font-size: 20px;
}
.t{
    font-size: 20px;
}
.btnSite{
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    margin-bottom: 5;
    background-color: #E8F5E9;
    border: 0;
    color: #336E37;
    margin: 0;
    margin-top:20px;
}

.btnSite:hover{
    background-color: #C8E6C9;
}

.btnSelect:hover{
    background-color: #66BB6A;
    color: white;
}

.btnsubmit{
    background-color: rgb(123, 188, 127); 
    color: white;
}

.btnsubmit:hover{
    background-color: #5B9845;
}

